* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: bolder;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgb(0, 0, 0);
}

#workspaces button.active {
    background-color: #ffffff;
    color: #000;
    border-radius: 10%;
}

#clock {
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#pulseaudio {
    color: #ffffff;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}